@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.container_button_choix {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.choix_perso_1 {
  align-items: center;
}

.choix_perso_2 {
  align-items: center;
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.stat {
  margin: 0 20px;
  text-align: center;
}

.label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: center;
}

.action {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #00c853;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;

  &:hover {
    background-color: #00796b;
  }
}

.progress-bar {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.bar {
  height: 100%;
  background-color: green;
}