.section_personnage_1 {
  background: url(../img/fond_aragorn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.section_personnage_2 {
  background: url(../img/fond_balrog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.section_personnage_3 {
  background: url(../img/fond_smeagol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}