// Tout le style par section

// H2 pour chaque sections

.h2_section_perso {
  padding-top: 10%;
}

// Section 1 / Aragorn

.section_personnage_1, .section_personnage_2, .section_personnage_3{
  background: url(../img/fond_aragorn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  .selection_personnage {
    margin-top: 5%;
    margin-left: 25%;
  }

}

.p_section_1 {
  margin-top: 3%;
  font-family: "04b", sans-serif;
  color: black;
  background: rgba(132, 106, 189, 0.7);
}

.p_terminal {
  font-family: "04b", sans-serif;
  color: black;
  text-align: left;
  line-height: 140%;
  background: rgba(132, 106, 189, 0.7);
}

.container_p_terminal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 2%;
}

.h2_terminal {
  font-size: small;
}

.food, .drink, .weapon {
padding: 0.15rem !important;
font-weight: bolder;
background-color: #47974b!important;
}

// Section 2 / Balrog

.section_personnage_2 {
  background: url(../img/fond_balrog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

// Section 3 / Smeagol

.section_personnage_3 {
  background: url(../img/fond_smeagol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}