// Police 04b_30

@import url("https://fonts.cdnfonts.com/css/04b30");

// Police Bellota

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// Reset

* {
  margin: 0;
  padding: 0;
}

// Style principaux

h2 {
  text-align: center;
  color: white;
  text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0);
  font-family: "04b", sans-serif;
}

p {
  text-align: center;
  font-size: 70%;
  color: white;
}

// Afficher ou non quelque chose

.hide {
  display: none;
}

// Taille du personnage

.selection_personnage {
  width: 130px;
}